body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navbar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #232f3e;
    color: white;
}

.logo img {
    width: 120px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Hero Section */
.hero img {
    width: 100%;
    height: auto;
    max-height: 150px; /* Adjust as needed */
}


/* Products */
.products {
    text-align: center;
    padding: 20px;
}

.product-list {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.product {
    border: 1px solid #ddd;
    padding: 10px;
    width: 200px;
}

.product img {
    width: 100%;
}

button {
    background-color: #f90;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
